<%= _.template(require('./../includes/header.html'))() %>
<main class="main">
    <div class="container">
        <div class="content">
            <div class="user-profile-slider owl-carousel d-md-none">
                <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
                <div class="slide" style="background-image: url('img/photos/ph01.jpg');"></div>
                <div class="slide" style="background-image: url('img/photos/ph02.jpg');"></div>
                <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
                <div class="slide" style="background-image: url('img/photos/ph01.jpg');"></div>
                <div class="slide" style="background-image: url('img/photos/ph02.jpg');"></div>
                <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    profile
                </div>
                <div class="col-12 col-lg-6">
                    ds
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>